node_modules
.vscode
artifacts
build
cache
coverage
coverage.*
deploy.*.json
docs
.cache-31337.json
31337.json
scripts/parse-multi-sent-fort.js
.openzeppelin/unknown-31337.json
.env
.abis-no-errors
scripts/data/*
yarn-error.log
layout-compare/
test/migration/data/t*