## Mumbai deployment 
MUMBAI_NODE="https://"
MUMBAI_MNEMONIC="bla bla bla..."
## hardat test wallets
HARDHAT_MNEMONIC="test test test test test test test test test test test junk"
## goerli
GOERLI_NODE="https://"
GOERLI_MNEMONIC="bla bla bla..."
## Polygon deployment manager
POLYGON__MNEMONIC="bla bla bla..."
POLYGON_NODE="https://"
## Block explorers (Comment the one not used)
#POLYSCAN="..."
ETHERSCAN="..."
LOCAL_NODE="http://127.0.0.1:8545/"