name: Test

on:
  push:
    branches: [master]
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        id: cache
        with:
          path: '**/node_modules'
          key: npm-${{ hashFiles('**/yarn.lock') }}
          restore-keys: npm-
      - run: yarn
        if: steps.cache.outputs.cache-hit != 'true'
      - run: npm run test
